/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* Add this */
    height: 100vh;  
}

/* Common Container */
.container {
    width: 30%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 10px; /* <-- This will make space between both containers */
}

/* Logout container stays at top */
.container.header {
    text-align: center;
}
.container-login {
    text-align: center;
    width: 30%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Form container */
.container.form {
    text-align: center;
}

/* Logout Button */
.logout-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #ff4d4d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #e60000;
}
#login-btn{
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
    transition: background 0.3s;
}
/* Header */
h1 {
    font-size: 22px;
    color: #333333;
    margin-bottom: 15px;
}

/* Labels */
label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    text-align: left;
}

/* Input Fields */
input, select {
    width:90%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* File Upload Styling */
input[type="file"] {
    border: none;
}

/* Button Styling */
#button-download {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
    transition: background 0.3s;
}

#button-download:hover {
    background-color: #0056b3;
}

/* Error Message */
#date_error {
    color: red;
    font-size: smaller; 
    display: block; 
    text-align: left; 
    margin-top: 10px;
    font-style: italic;
}

/* Status Message */
#status {
    font-style: italic;
    color: red;
    font-size: smaller; 
    display: block; 
    text-align: left; 
    margin-top: 10px;
}

/* Responsive */
@media (max-width: 450px) {
    .container {
        width: 90%;
        padding: 15px;
    }
}
